
.body{
    background-color: #F9F8F8;

}

.banner{
    margin-bottom: 0;
    
}
.overview{
    background-color: #ffffff;
   /* padding: 7rem 1rem 0 1rem;*/
   padding:7rem 1rem 0 1rem;

}
.overview .overview-image{
    width: 100%;
}
.overview h1, .what-we-do h1{
    margin-bottom: 1rem;
}
.overview hr, .what-we-do hr{
    width: 45%;
    height: 4px;
    background-color:#F37A47;
    border-color: #F37A47;
    margin-bottom: 2rem;
}

.overview p{
    margin-bottom: 3rem;
}

.overview-text{
    line-height: 1.5rem;
}
.background-overlay{
    opacity: 0.8;
}
.skills{
    /*background-color: #173f5f;*/
    padding-bottom: 5rem;
    background: url("./images/workers1.jpg");
    background-size: cover;
    height: 65rem;
    display: flex;
    flex-direction: column;
}

#skills-section{
   
    display: inline-flex;
    align-items: center;
   /* padding:5rem 3rem 2rem 3rem;*/
    
}



.what-we-do{
    padding: 7rem 1rem 7rem 1rem;
    /*background-color: #F9F8F8;*/
}

.what-we-do p {
    padding-bottom: 3rem;
}


.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  #collapsible-1{
      background-color: #1979a9;
  }
  
  #collapsible-2{
      background-color: #195e83;
  }

  #collapsible-3{
      background-color: #042f66;
  }

  #collapsible-4{
      background-color: #174364;
  }
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }