.footer_main_div{
    width: 100%;
    height: auto;
    width: auto;
    background-color: hsl(0, 0%, 98%);
    align-items: center;
    position: relative;
  }

/*.footer_social_icons{
height: auto;
padding: 0px;
padding-top: 47px;
z-index: 2;
position: relative;
/* border: solid; */
/*border-color: blueviolet;*/
}
.footer_logo{
padding-left: 150px;
display: inline-flex;
}

/*
.social_icon{
margin: 0px;
text-align: right;
}


.social_icon ul li{
width: 50px;
height: 50px;
margin: 10px 0;
list-style: none;
}

.footer_social_icons ul li:hover{
cursor: pointer;
color: hsl(256, 26%, 20%);
}


.footer_hr{
width:80%;
line-height: 1px;

}

/*footer links*/

.footer_links{
font-family: 'Karla', sans-serif;
font-weight: 700;
font-size: 0.9rem;
color: hsl(256, 26%, 20%) ;
display: flex;
list-style-type: none;
line-height: 36px;
justify-content: space-evenly;
/*padding-right: 15rem; */
letter-spacing: 1.5px;
position: relative;
z-index: 2;
}

#footer_pattern{
  position: absolute;
  top:0px;
  font-family: 'Karla', sans-serif;
left: -20px;
z-index: 1;
}

.footer_content_header{
color: hsl(273, 4%, 51%);
}

.footer_links ul li:hover{
color: hsl(256, 26%, 20%);
text-decoration: underline;
cursor: pointer;
}

.footer_content ul{
list-style-type: none;
padding: 0px;
}

@media only screen and (max-width: 375px) {
  .footer_main_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .footer_logo{
    padding-left:0;
    margin-top: 22%;
   margin-bottom: 4%;
   z-index: 2;
  }

  .footer_main_div ul{
    list-style-type: none;
    padding-left:  0;
    text-align: center;
    cursor: pointer;
  }

 .footer_main_div ul li{
   padding: 7px;
 }

 ul.social_icons{
  display: inline-flex;
  padding-bottom: 3%;
  z-index: 1;
}


.footer_hr{
  background-color: red;
  width: 80%;
}

 .footer_content1, .footer_content_header{
   text-align: center;
   flex-direction: column;
   padding-right: 0;
 }

 .footer_content_header{
   padding-bottom: 7%;
 }
 .footer_links{
   width: 100%;
   display: grid;
   grid-template-columns: 100%;
   grid-gap: 0px;
   justify-items: center;
   padding: 0;
   padding-top: 5%;
   line-height: 104%;
 }

 .pattern-footer-mobile{
position: absolute;
top: 0;
 }