.footer_main_div {
  width: 100%;
  height: auto;
  width: auto;
  background-color:#353535;
  color: #ffffff;
  padding-bottom: 4rem;
  align-items: center;
}

.footer_top {
  align-items: baseline;
  justify-content: space-between;
  display: flex;
  z-index: 2;
  position: relative;
  grid-gap:1rem;
}

.footer_main_div .social_icons {
  padding: 47px 124px 0 5px;
  z-index: 2;
  display: inline-flex;
  text-decoration: none;
  list-style-type: none;
}

.footer_main_div .social_icons a {
  padding-right: 22px;
}

.footer_logo {
  padding-left: 150px;
  font-weight: bold;
  font-family: 'Roboto Condensed', Sans-Serif;
font-size: 35px 'Karla', sans-serif;
}

.footer_social_icons ul li:hover {
  cursor: pointer;
  color: hsl(256, 26%, 20%);
}

.footer_hr {
  width: 45%;
  height: 4px;
  background-color: #F37A47;
  border-color: #F37A47;
}


.footer_links {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color:#ffffff;
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  grid-gap: 1.5%;
  line-height: 36px;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 2;
  padding: 15px 0px 55px 150px;
}

.footer_links li {
  list-style-type: none;
}

.footer_links ul {
  margin: 0;
}

.pattern-footer-mobile {
  display: none;
}

.pattern-footer-desktop {
  position: absolute;
  display: block;
  z-index: 1;
}

.footer_content_header {
  color: #ffffff
}

.footer_links ul {
  padding: 0;
}

.footer_links ul li:hover {
  color: hsl(256, 26%, 20%);
  text-decoration: underline;
  cursor: pointer;
}

.footer_content ul {
  list-style-type: none;
  padding: 0px;
}

#index-contact-icons #icon{
  width: 15%;
}

@media only screen and (max-width: 375px) {
  .footer_main_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-bottom: 8rem;
  }
  .footer_top {
    display: block;
  }
  .footer_logo {
    padding-left: 0;
    margin-top: 8rem;
    margin-bottom: 2%;
    z-index: 2;
    font-size: 25px;
  }
  .footer_main_div .social_icons {
    padding: 2px 0px 0 5px;
  }
  .footer_main_div .social_icons a {
    padding-right: 3px;
  }
  .footer_main_div ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    cursor: pointer;
  }
  .footer_main_div ul li {
    padding: 7px;
    font-size: smaller;
    font-weight: 200;
  }
  ul.social_icons {
    display: inline-flex;
    padding-bottom: 3%;
    z-index: 1;
  }
  .footer_hr {
    margin: 2rem 0 2rem 0;
  }
  .footer_content1, .footer_content_header {
    text-align: center;
    flex-direction: column;
    padding-right: 0;
  }
  .footer_content_header {
    padding-bottom: 7%;
  }
  .footer_top {
    grid-gap: 0;
  }
  .footer_top, .footer_links {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    padding: 0;
    padding-top: 5%;
    line-height: 1rem;
  }
  .footer_links {
    grid-gap: 50px;
  }
  .pattern-footer-mobile {
    display: block;
    position: absolute;
    top: 0;
  }
  .pattern-footer-desktop {
    display: none;
  }
}