.nav{
  align-items: baseline;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav_links{
line-height: 65px;
margin: 0;
  list-style-type: none;
  display: inline-flex;
  padding-right: 5%;
  letter-spacing: 0.5px;
}

ul.nav_links:hover{
  color:hsl(270, 9%, 17%);
}

.nav_links li a{
  font-family: 'Karla', sans-serif;
	font-size: 16px;
  color: hsl(273, 4%, 51%); 
  font-weight: 700;
  margin: 0 30px 0 0;
  text-decoration: none;
  cursor: pointer;
}

#plans{
  border-style: solid;
  border-color: hsl(256, 26%, 20%);
  background-color: white;
  color: hsl(256, 26%, 20%);
  padding: 9px 25px;
  border-width: 1.5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#plans:hover{
  background-color: hsl(256, 26%, 20%); ;
  color: white;
}



.logo{
 padding: 15px 0 0 150px;
 display: inline;
}


label{
  margin: 0 40 0 0;
  font-size: 20px ;
  line-height: 60px;
  display: none;
}

#toggle{
  display: none;
}

.mobile-nav-pattern{
  display: none;
}
@media only screen and (max-width: 375px) {

  .nav{
    display: block;
  }
.logo{
 line-height: 60px;
  padding: 19px 0 0 50px;
 display: inline-block; 
}

.responsive_nav{
  width:100%;
  padding-bottom: 25px;
  padding-top: 5px;
}
label{
display: inline-block;
cursor: pointer;
padding: 0 30px 0 0;
font-size: 26px;
position: absolute;
right: 20px;

}

.nav_links{
  text-align: center;
  line-height: 55px;
  width: 100%;
  height: 459px;
  padding: 23px 0 30px 0;
  display: none;
  background-color: hsl(256, 26%, 20%) ;
  position: relative;
}


.nav_links li a{
text-align: center;
align-items: center;
margin: 0 0 0 0 ;
color: white;
font-weight: 400;
font-size: 16px;

}

#toggle{
  border: black 1px solid;
}
#toggle:checked + .nav_links{
  display: block;
}

#plans{
  border-style: solid;
  border-color: white;
  padding: 12px 111px;
  border-width: 1px;
  background-color: hsl(256, 26%, 20%);
  color: white;
}

#plans:hover{
  background-color: white;
  color:hsl(256, 26%, 20%) ;
}

.mobile-nav-pattern{
 display: block; 
  position: absolute;
bottom: 0;
}