.contact-nav {
  align-items: center;
  justify-content: left;
  display: flex;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 150%;
}

.contact-nav-details {
  list-style-type: none;
  display: block
  /*padding-left: 7rem;*/
}

.contact-nav-details li {
  /* padding-left: 2rem;*/
}

.contact-nav-details li i {
  padding-right: 1rem;
}

.nav {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'PT Sans', Sans-Serif;
  ;
  font-size: 16px;
  font-weight: 400px;
  line-height: 2rem;
  /* margin:2rem;*/
  background-color: #ffffff;
  padding: 1.5rem 1rem 1rem 1rem;
}

.nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: baseline;
}

.nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #173f5f;
}

.nav .mainMenu li a:hover {
  color: #696969;
}

.nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

.nav .mainMenu .closeMenu, .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}

#plans {
  border-style: solid;
  border-color: #173f5f;
  background-color: #ffffff;
  color: #173f5f;
  padding: 9px 25px;
  border-width: 1.5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-top: 1rem;
}

#plans:hover {
  background-color: #173f5f;
  ;
  border-color: #173f5f;
  color: #ffffff;
}


/*@media only screen and (max-width: 375px) {
  /* .nav {
    display: block;
  }*/
  /*.logo {
    line-height: 60px;
    padding: 19px 0 0 50px;
    display: inline-block;
  }*
  .responsive_nav {
    width: 100%;
    padding-bottom: 25px;
    padding-top: 5px;
  }*
  label {
    display: inline-block;
    cursor: pointer;
    padding: 0 30px 0 0;
    font-size: 26px;
    position: absolute;
    right: 20px;
  }
  .nav_links {
    text-align: center;
    line-height: 55px;
    width: 100%;
    height: 459px;
    padding: 23px 0 30px 0;
    display: none;
    background-color: hsl(256, 26%, 20%);
    position: relative;
  }
  .nav_links li a {
    text-align: center;
    align-items: center;
    margin: 0 0 0 0;
    color: white;
    font-weight: 400;
    font-size: 16px;
  }
  /*#toggle {
    border: black 1px solid;
  }
  #toggle:checked+.nav_links {
    display: block;
  }*
  #plans {
    border-style: solid;
    border-color: white;
    padding: 12px 111px;
    border-width: 1px;
    background-color: hsl(256, 26%, 20%);
    color: white;
  }
  #plans:hover {
    background-color: white;
    color: hsl(256, 26%, 20%);
  }
  
}*/



  @media only screen and (max-width: 768px) {
    .nav{
      padding: 1.5rem 3rem 1rem 3rem;
    }
    
    .nav .mainMenu {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      background-color: #20639B;
      /*transition: top 1s ease;*/
      display: none;
      padding: 2rem;
      text-align: center;
      margin: 0;
    }
    .nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .nav .openMenu {
      display: block;
    }
    .nav .mainMenu li a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      color: white;
    }
    .nav .mainMenu li a:hover {
      background: none;
      color: #173f5f;
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
    #plans {
      border-style: solid;
      border-color: #173f5f;
      background-color: #173f5f;
      color: #ffffff;
      padding: 9px 25px;
      border-width: 1.5px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      margin-top: 1rem;
    }
    #plans:hover {
      background-color: #ffffff;
      ;
      border-color: #ffffff;
      color: #173f5f;
    }

    /*.nav{
      padding: 1rem 3rem 1rem 3rem;
    }*/
  }