.intro{
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 100%);
  height: 620px;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.intro__content{
  margin: 0;
  padding: 0;
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 100%);
  padding-top: 120px;
  padding-left: 150px;
}

.family-picture{
	position: absolute;
	left: 800px;
	top: 125px;
}

.pattern-intro1 {
  position: absolute;	
  right: 0;
}

.pattern-intro2{
  position: absolute;
  top: 450px;
}
  
hr .section1_hr{
color: white;
}