.section2 {
    display: grid;
    position: relative;
    margin-top: 21%;
    /* border: solid 5px blue; */
}



.section2 h1 {
	
	padding-left: 150px;	
}


.section2__content {
    width: 60%;
    display: grid;
    grid-template-columns: 48% 48% 48%;
    grid-gap: 3px;
    padding: 40px 0px 212px 150px;
}

#icon {
    padding-bottom: 15px;
}

p.section2__text {
    color: rgb(182, 182, 182);
    font-weight: 500;
    width: 80%;
}

.short_hr .h2 {
    display: flex;
}

.section2 .short_hr {
    margin-left: 150px;
    position: relative;
    top: 322px;
    color: blue;
}

@media only screen and (max-width: 375px) {
    .section2 {
        width: 100%;
        padding-top: 120px;
        position: relative;
    }

    .section2 h1{
        padding: 0;
        text-align: center;
        margin-bottom: 80px;
    }
    .section2__content {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 16px;
        justify-items: center;
        padding: 0;
    }
    .snappy, .affordable_prices, .people_first {
        text-align: center;
        justify-content: center;
        padding-bottom: 64px;
        width: 87%;
    }
    p.section2__text {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .mobile-intro-pattern2 {
        display: block;
        position: absolute;
        right: 0;   
        top:-155px;
    }

    .section2 h2{
        margin-bottom: 96px;
    }

    .section2 .short_hr{

       height: 1px;
       background-color: hsl(216, 30%, 68%);
       top:0;
       align-items: center;
       width: 38%;
       margin-left: 125px;
    }