.section2{
	display: grid;
	position: relative;
    /* border: solid 5px blue; */
}
    
.section2__content{
	width: 60%;
	display: grid;
	grid-template-columns: 48% 48% 48%;
    grid-gap: 3px;
	padding: 40px 0px 212px 150px;
}
    
#icon{
    padding-bottom: 15px;
}

p.section2__text{
    color: rgb(182, 182, 182);
    font-weight: 500;
    width: 80%;
 }

.short_hr .h2{
     display: flex;
        }
.section2 .short_hr {
    margin-left: 150px;
    position: relative;
    top: 322px;
    color: blue;

        }

        @media only screen and (max-width: 375px) {
        .section2{
            width: 100%;
            padding-top: 120px;
        }

        .section2__content {
            width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3px;
    /* margin: -30px; */
    justify-items: center;
    padding: 0;
        }

        .snappy, .affordable_prices, .people_first {
            text-align: center;
            justify-content: center;
            padding-bottom: 64px;
        }
        p.section2__text{
            margin: 0;
            width: 100%;
            text-align: center;
        }