.intro {
 background-color: #F37A47;
  color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  display: flex;
  position: static;
  background-size: cover;
}

.content {
  color: hsl(0, 0%, 100%);
  padding: 120px 0 0 150px;
  height: 29rem;
}

.content h1{
  margin: 0;
}
p.intro_text {
  width: 42%;
  margin-bottom: 40px;
}

.family-picture {
  position: absolute;
  left: 800px;
  top: 125px;
  margin: 0 0 2rem 0;
  height: 20rem;
}


hr .section1_hr {
  color: white;
}

.experience{
  text-align: left;
  padding:1rem;
}
.experience h2{
 font-size: 18px;
  text-align: left;
  color: #173f5f;
}
.experience img{
  width: 100%;
}

.experience h3{
  padding:2.5rem 0 1rem 0;
  font-weight: 600;
  color: #F37A47;
}

.experience p{
  color: rgb(182, 182, 182);
    font-weight: 500;
}

.experience .plans2{
  color: #173f5f;
  border-color: #173f5f;
  margin-top: 3rem;
}
/* media queries*/

@media only screen and (max-width: 375px) {
  .nav {
    padding: 0;
  }
  .family-picture {
    position: static;
    width: 100%;
   /* margin: 0;*/
  }
  .intro {
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-left: 0;
    order: 2;
    position: relative;
    /*height: 550px;*/
  }
  h1 {
    font-size: 48px;
    padding: 2rem;
  }
  p.intro_text {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 316px;
    padding-bottom: 44px;
  }
  .content .short_hr {
    display: none;
  }
  
  .content .cta.plans2 {
    margin-left: 106px;
  }
}