.section2 {
    display: grid;
    position: relative;
    margin-top: 21%;
    margin-bottom: 5rem;
    background-color: #fbfbfb;
}

.section2 h2 {
    color: #173F5F;
    margin-bottom: 5rem;
    font-size: 30px;
}

.section2__content {
    width: 60%;
    display: grid;
    grid-template-columns: 48% 48% 48%;
    grid-gap: 3px;
    padding: 40px 0px 212px 150px;
}

#icon {
    padding-bottom: 15px;
    width: 100%;
}

p.section2__text {
    color: rgb(182, 182, 182);
    font-weight: 500;
    width: 80%;
}


.section2 .short_hr {
    margin-left: 150px;
    position: absolute;
    top: 0;
    background-color:#F37A47;
    color: #F37A47;
    width:11%;
    height: 0.2rem;
}

@media only screen and (max-width: 375px) {
    .section2 {
        width: 100%;
        padding-top: 80px;
        position: relative;
    }
    .section2 h1 {
        padding: 0;
        text-align: center;
        margin-bottom: 80px;
    }
    .section2__content {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 16px;
        justify-items: center;
        padding: 0;
    }
    .snappy, .affordable_prices, .people_first {
        text-align: center;
        justify-content: center;
        padding-bottom: 64px;
        width: 93%;
    }

    .section2__content h3{
        margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
    

    .section2__content i{
        background-color: #173f5f;
    padding: 1rem;
    border-radius: 50%;
    color: #ffff;
    }
    p.section2__text {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 0px 2rem 0 2rem;
    }
    .mobile-intro-pattern2 {
        display: block;
        position: absolute;
        right: 0;
        top: -231px;
    }
    .section2 h2 {
        /*margin-bottom: 96px;*/
    }
    .section2 .short_hr {
       /* height: 1px;*/
        background-color:#F37A47;
        top: 147px;
        align-items: center;
        width: 47%;
        margin-left: 98px;
    }
}