.section3{
    /* border: solid;
    border-color: brown;*/
    border-width: 5px; 
    padding-bottom: 140px;
}

.banner_text{
    color:hsl(0, 0%, 98%) ;
    padding: 5px 60px 0px 80px;
}
.banner{
    position: relative;
    display: grid;
    overflow: hidden;
    left:10%;
    width: 80%;
    height: 251px;
    background-color: hsl(256, 26%, 20%);
    align-items: center;
}

#pattern_how_we_work{
position: absolute;
right: 0px;
z-index: 1;
}

.section3 #plans2{
    position: absolute;
    z-index: 2;
    left: 79%;

} 

@media only screen and (max-width: 375px) {
.banner{
    width: 309px;
    height: 322px;
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
}

#pattern_how_we_work{
    right:0;
}


