.short_hr {
	align-items: flex-start;
	width: 14%;
	padding: 0;
	margin-left: 0;
	border: none;
	height: 1px;
	color: white;
	background-color: white;
}

h1 {
	font-weight: 400;
}

h1, h2 {
	font-family: 'DM Serif Display', serif;
	font-size: 70px;
	letter-spacing: 0px;
	line-height: 80%;
}

p {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	font-weight: 400px;
	line-height: 150%;
}

.plans2 {
	display: block !important;
	padding: 9px 21px;
	background-color: hsl(256, 26%, 20%);
	border-style: solid;
	border-color: hsl(0, 0%, 98%);
	color: hsl(0, 0%, 98%);
	cursor: pointer;
	transition: all 0.3s ease 0s;
	width: 7.5rem;
	font-family: 'Karla', sans-serif;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
}

.plans2:hover {
	color: hsl(256, 26%, 20%);
	background-color: hsl(0, 0%, 98%);
}

h3 {
	font-family: 'DM Serif Display', serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 80%;
	letter-spacing: -0.7px;
	color: hsl(270, 9%, 17%);
}

@media only screen and (min-width: 375px) {
	body {
		margin: 0;
	}
	
	h2 {
		font-size: 50px;
		padding: 0px;
		text-align: center;
		justify-content: center;
		width: 100%;
	}
}