
hr {
	border: none;
	height: 1px;
	/* Set the hr color */
	color:orange; /* old IE */
	background-color: orange; /* Modern Browsers */
}

/* .short_hr{
	align-items: flex-start;
	width: 30%;
  padding: 0;
	margin-left: 0;
}

.section1_hr{
 color: white;
}

.section2_hr{
	color: grey;
 } */

h1, p, h2{
	width: 550px;
}

h1, h2{
	font-family: 'DM Serif Display', serif;
	font-size: 70px;
	font-weight: 400px;
	letter-spacing: -1px;
	line-height: 80%;
	
}

p{
	font-family:'Karla', sans-serif;
	font-size: 16px;
	font-weight: 400px;
	color: hsl(0, 0%, 98%);
	line-height: 150%;
}






#plans2{ 
	padding: 9px 25px;
	background-color: hsl(256, 26%, 20%);
	/* border-style: solid;
	border-color: hsl(0, 0%, 98%); */
	color: hsl(0, 0%, 98%);
	cursor: pointer;
	transition: all 0.3s ease 0s;
	}

#plans2:hover{
	color: hsl(256, 26%, 20%);
	background-color: hsl(0, 0%, 98%);
}



.section2{
	display: grid;
	position: relative;
	/* border: solid 5px blue; */
}

h2{
	font-family: 'DM Serif Display', serif;
	font-size: 70px;
	font-weight: 400px;
	line-height: 80%;
	letter-spacing: -3px;
	padding: 350px 150px 20px;
	width: 550px;
	color: hsl(270, 9%, 17%);
}


#section2__content{
	width: 60%;
	display: grid;
	grid-template-columns: 45% 45% 45%;
    grid-gap: 3px;
	padding: 40px 0px 0px 150px;
	}
h3{
	font-family: 'DM Serif Display', serif;
	font-size: 28px ;
	font-weight: 700;
	line-height: 80%;
	letter-spacing: -1.7px;
	color:hsl(270, 9%, 17%);
}
#icon{
	padding-bottom: 15px;
}
	#s2__text{
		width: 86%;
		color: hsl(273, 4%, 51%);
		font-weight: 400;
	}

	/*section 3*/

	.section3{
		/* border: solid;
		border-color: brown;*/
		border-width: 5px; */
		padding-top: 185px;
		padding-bottom: 140px;
	}
	
	#banner_text{
		color:hsl(0, 0%, 98%) ;
		padding: 5px 60px 0px 80px;
	}
	.banner{
		position: relative;
		display: grid;
		overflow: hidden;
		left:150px;
		width: 1133px;
		height: 245px;
		position: relative;
		background-color: hsl(256, 26%, 20%);
		grid-template-columns: 75% 50% 50%;
	}
	
	#btn_how_we_work{
		font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
	color: hsl(273, 4%, 51%);
	background-color: hsl(256, 26%, 20%) ;
    text-decoration: none;
	padding: 9px 25px;
	
		/* border-style: solid;
    border-color: hsl(0, 0%, 98%); */
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 105.094;
	height: max-content;
	width: max-content;
	}

		#pattern_how_we_work{
			position: absolute;
			right:-1px;
		}

		
		/*footer*/

		.footer_main_div{
			width: 100%;
			height: auto;
			width: auto;
			background-color: hsl(0, 0%, 98%);
			display: flex;
			align-items: center;
		  }

.footer_social_icons{
	width: 100%;
	height: auto;
	padding: 0px;
	/* border: solid; */
	/*border-color: blueviolet;*/
}
#footer_logo{
	padding-left: 150px;
	display: inline-flex;
}

.footer_social_icons ul{
	margin: 0px;
	padding-left: 800px;
	text-align: right;
	display: inline-flex;

}


.footer_social_icons ul li{
	width: 50px;
	height: 50px;
	margin: 10px 0;
	list-style: none;
}

.footer_social_icons ul li:hover{
	cursor: pointer;
	color: hsl(256, 26%, 20%);
}

.footer_content{
	font-family: 'Karla', sans-serif;
    font-weight: 400;
	font-size: 16px;
	color:hsl(256, 26%, 20%); ;
display: grid;
grid-template-columns: repeat(5, 1fr);
padding:25px 0px 25px 150px;
grid-gap: 10px;
width: 100%;
list-style-type: none;
line-height: 36px;
}

.footer_content ul li:hover{
	color::hsl(256, 26%, 20%); ; ;
	text-decoration: underline;
	cursor: pointer;
}