.our-work{
  background-color: #353535
  ;

}
.our-work .team{
  box-shadow: none;

  background-color:#353535 ;
}

.work-title{
  text-transform: uppercase;
}
.our-work h2{
  color: darkgray;
  font-size: 30px;
}

